@model AppUser

@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-reset.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!--external css-->

    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

    <link href="~/Content/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <!--Jquery'nin üstte olmasına dikkat ediniz-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--Client Side Validation icin-->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body class="login-body">
    <div class="container">

        @if (TempData["uyeYok"]!=null)
        {
           <div class="jumbotron" style="text-align:center;color:red">
               @TempData["uyeYok"]
           </div>
        }

            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-signin" }))
            {
                <h2 class="form-signin-heading">Giriş Yap!</h2>
                <div class="login-wrap">

                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "Kullanıcı İsminizi Gİriniz", autofocus = true })

                    @Html.ValidationMessageFor(x => x.UserName)

                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Sifre giriniz" })


                    @Html.ValidationMessageFor(x => x.Password)

                    <label class="checkbox">

                        @Html.CheckBox("Hatirla", true) Remember me

                        <span class="pull-right">

                        </span>
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">Giriş Yap </button>



                    <div class="registration">
                        Don't have an account yet?
                        @Html.ActionLink("Create an Account", "Register", "Home")
                    </div>
                </div>
               
            }



        
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
 

</body>
</html>
